/* Reset margins */
/* because spacing can differ between browsers */
* {
	margin: 0;
}

body {
	background-color: hsl(204, 43%, 93%);
	font-size: 16px;
	font-family: 'Karla', sans-serif;
	
	padding: 1rem;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 1.5;
	min-height: 100vh;  /* make body fill viewport */
}

h1,
h2 {
	font-size: 1.48rem;
	line-height: 1.1;
	margin-bottom: 1rem;
}

p {
	margin-bottom: 1rem;
}

/* If paragraph is the last child in a section, no margin bottom */
p:last-child {
	margin-bottom: 0;
}

.container {
	max-width: 400px;
	margin-bottom: 2rem;
}

.box {
	color: #fff;
	padding: 1.5rem;
}

.intro {
	background-color: white;
	color: hsl(218, 22%, 67%);
	border-radius: 10px 10px 0 0;
}

/* .intro h1 { */
.heading--main {
	color: hsl(179, 62%, 43%);
}

.subscription {
	background-color: hsl(179, 62%, 43%);
	color: hsl(204, 43%, 93%);
}

/* .subscription h2 {
	font-size: 1.28rem;
} */

/* NOTE: try not to use camelCase for css classes. It implies the class does something javaScript */
.aboutUs {
	background-color: hsl(179, 56%, 52%);
	color: hsl(204, 43%, 93%);
	border-radius: 0 0 10px 10px;
}

/* .aboutUs h2 {
	font-size: 1.28rem;
} */


/* I've PUT THESE ON THE SECTIONS INSTEAD, like .intro: */
/* .rounded-top { 
	border-radius: 10px 10px 0 0;
}

.rounded-bottom {
	border-radius: 0 0 10px 10px;
} */

/* #sub-heading { */
.sub-heading {
	color: hsl(71, 73%, 54%);
	font-weight: 700;
}

/* NEW */
.price {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

/* #emphasis { */
.emphasis {
	font-size: 2.25rem;
	font-weight: bold;
	/* padding-right: 5px; */
}

.opaque {
	opacity: 0.8;
}

/* #signUp { */
.btn {
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: hsl(71, 73%, 54%);
	color: white;
	border: none;
	font-weight: bold;
	/* font-size: 16px; */
	border-radius: 10px;
	/* padding: 14px 40px; */
	/* width: 100%; */
	font-size: 1.125rem;
	padding: 1rem 2rem;
}


/* Larger screen sizes */
@media screen and (min-width: 500px) {
	.container {
		max-width: 900px;
		display: grid;
		gap: 0; 
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);
	}

	.container > *:first-child {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
	}
	.container > *:nth-child(2) {
		grid-column: 1 / 2;
		grid-row: 2 / -1;
	}
	.container > *:nth-child(3) {
		grid-column: 2 / -1;
		grid-row: 2 / -1;
	}

	/* Fix border radius */
	.aboutUs {
		border-radius: 0 0 10px 0;
	}
	.subscription {
		border-radius: 0 0 0 10px;
	}

	h1 {
		font-size: 2rem;
	}

	.sub-heading {
		font-size: 1.25rem;
	}
}